.About {
    margin: 16px 0px;
    background-color: #ff0051ce;
    border-radius: 50px;
  }
  
  .box-1 {
    /* padding: 100px 320px 200px; */
    text-align: center;
    color: white;
  }

  .box-content{
    padding: 15px 237px;
  }
  
  .Heading {
    background-color: #C5FB7E;
    width: 286px;
    border-radius: 10px 5px;
    margin: 0 auto 30px auto;
 
  }
  
  .Heading h1 {
    color: black;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  
  .subheading p {
    font-size: 21px;
    line-height: 1.5;
    word-spacing: 1px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .fa-brands fa-linkedin{
        height: 1.3rem;
  }
  
  .home__social a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: #6E07F3;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  
  .home__social a:hover {
    /* color: black; */
    background-color: #939393;
  }