#services{
    padding: 30px 0;
  }
  
  .contain h1{
    font-size:45px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
  
  }
  
  .service-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 50px;
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 150px;
  }
  .service-list div{
    background-color: #ff0051ce;
    padding: 60px;
    font-size: 13px;
    font-weight: 400;
    height: 360px;
    width: 330px;
    border-radius: 8px;
    transition: background 0.5s, transform 0.5s;
  }
  .service-list div img {
    height:300px;
    width: 300px;
    border-radius: 8px;
  }
  .service-list div h2{
    color:  whitesmoke;
    margin-top: 15px;
    margin-left: 35px;
    font-size: 25px;
    font-weight: 800;
  }
  .service-list div:hover{
    background-color: #6E07F3;
    transform: translateY(-10px);
 }

 