.contain h1 {
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  margin: 30px 0px;
}

.service-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin: 55px 0px;
}

.service-list .main-content {
  background-color: #ff0051ce;
  font-size: 13px;
  font-weight: 400;
  border-radius: 8px;
  transition: background 0.5s, transform 0.5s;
  margin: 15px 30px;
  text-align: center;
}

.service-list .main-content .content{
  margin: 15px 0px;
}

.service-list .main-content .content img {
  height: 300px;
  width: 300px;
  border-radius: 8px;
}

.service-list .main-content .content h2 {
  color: whitesmoke;
  margin-top: 15px;
  margin-left: 35px;
  font-size: 25px;
  font-weight: 800;
}

.service-list .main-content:hover {
  background-color: #6E07F3;
  transform: translateY(-10px);
}