@if (isloading) {
<div class="loadinggif">
  <img src="photos/loading-loader.gif">
</div>
}
<app-header></app-header>
@if (IsVisible) {
<div class="mainparent" id="Home">
    <div class="parent">
      <div class="child-1">
        <p><b>Web developer</b></p>
        <h1>Hi I'm <span style="color: #ff004f;">Shreyash.v.parmar</span></h1>
        <br>
        <br>
		<h2>"Developer is an organism that turns coffee into code"</h2>
      </div>
      <div class="child-2">
        <img src="photos/IMG-20241026-WA0004(1).jpg">
      </div>
    </div>
</div>
}


