.loadinggif{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0px 0px -50px;
}
 .row {
    margin-top: 2.5rem;
  }

  .left {
    float: left;
    margin-left: 5rem;
    margin-bottom: 20px;
  }

  .right {
    float: right;
    margin-right: 5rem;
  }

  .upper-title {
    color: black;
    font-size: 50px;
    margin-bottom: 2rem;
  }

  .mail {
    display: flex;
    margin-bottom: 10px;
  }

  .mail img {
    width: 35px;
    height: 35px;
  }

  .mail p {
    margin-top: 4px;
    padding-left: 15px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .btn {
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1rem;
    width: 110px;
    height: 40px;
    background-color: #6E07F3;
    font-weight: 800;
    margin-right: 15px;
  }

  .btn:hover {
    background-color: #ff004f;
    color: black;
  }

  .btn a {
    text-decoration: none;
    color: white;
  }

  .btn a:hover {
    color: black;
  }

  .social {
    margin-top: 30px;
  }

  .social a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #000000;
    display: inline-block;

  }

  .social a:hover {
    color: #ff004f;
  }

  .right form {
    display: flex;
    flex-direction: column;
    padding: 20px
  }

  .right input[type=text] {
    border: 0;
    width: 702px;
    height: 50px;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
  }

  .right input[type=text]::placeholder {
    color: whitesmoke;
  }

  .right input[type=email] {
    border: 0;
    width: 702px;
    height: 50px;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
  }

  .right input[type=email]::placeholder {
    color: whitesmoke;
  }

  form textarea {
    border: 0;
    width: 702px;
    height: 250px;
    outline: none;
    background-color: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 15px;
    border-radius: 6px;
  }

  form textarea::placeholder {
    color: whitesmoke;
  }

  form button {
    color: white;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1rem;
    width: 120px;
    height: 35px;
    background-color: #6E07F3;
    font-weight: 800;
    margin-right: 15px;
  }

  form button:hover {
    background-color: #ff004f;
    color: black;
  }